* {
    font-family: 'Indie Flower', cursive;
}

html, 
body { 
    margin: 0;
    height: 100%;
    background-color: rgb(210, 255, 255);
}



.main,
.main-content {
    text-align: center;
    height: 100%;
    width: 100%;
}


h1 {
    text-align: center;
    font-size: 5vw;
    margin: 0px 0px -25px 0px;
}

.options-buttons {
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    margin: auto;
}

.style-button,
.size-button, 
.reset-button {
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    margin: 20px 150px;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
}

button:hover {
    transform: scale(1.04);
}

.reset-button {
    color: red;
    font-weight: 900;
    border: 4px solid red;
}

.popup-window * {
    flex: 1;
}





.etch-container,
.knobs-container {
    border: 15px solid rgb(255, 10, 10);
    border-radius: 40px 40px 0% 0%;
    background-color: rgb(230, 230, 230);
    margin: auto;
    width: 70vw;
    height: 60%;
    display: flex;
    flex-direction: column;
}

    .grid-row,
    .grid-pixel {
        flex: 1;
    }

    .grid-row {
        display: flex;
    }

.knobs-container {
    height: fit-content;
    border-radius: 0% 0% 40px 40px;
    background-color: rgb(255, 10, 10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.knob-one,
.knob-two {
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-left: 100px;
    margin-right: 100px;
}



.popup-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vw;
    margin-left: 14%;
    top: 25vh;
    border: 10px solid rgb(50, 255, 255);
    border-radius: 3%;
    box-shadow: 0px 0px 20px 4px;
    background-color: rgb(210, 255, 255);
    font-weight: bold;
    letter-spacing: 1px;
    z-index: -1;
}


.reset-warning-window {
    font-size: 25px;
    height: fit-content;
    border: 10px solid rgb(255, 50, 50);
}

    .reset-text {
        padding-top: 20px;
        margin-bottom: -10px;
    }

    .warning-text {
        font-size: 30px;
        font-weight: 900;
        background-color: rgba(255, 0, 0, 0.2);
        width: fit-content;
        align-self: center;
        border-radius: 100px;
        padding: 5px;
    }

    .reset-buttons-container {
        padding: 25px 0px;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

.size-selection-window {
    top: 14vh;
}
    .grid-size-buttons-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        padding-top: 20px;
    }

    .slider-container {
        display: flex;
        padding: 0px 20px;
    }

    input#size {
        flex: none;
        margin: 0vw 1vw 0vw 5vw;
        width: 70%;
    }

    .slider-value {
        width: 15%;
        font-size: 1.3em;
        flex: none;
    }

.style-window {
    padding-top: 15px;
}

    .style-exit-button {
        position: absolute;
        right: 0;
        top: 0;
        flex: none;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        font-size: 25px;
        font-weight: bold;
    }

    .color-picker {
        flex: none;
        align-self: center;
        border: 5px solid red;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    .eraser-container {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 50%;
        border-top: 1px solid;
        align-self: center;
    }

    .eraser-status-text {
        flex: none;
        font-size: 25px;
        margin: inherit;
    }

.menu-button {
    flex: none;
    width: fit-content;
    min-width: 80px;
    height: fit-content;
    padding: 1.5vw;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;

}

.eraser-button {
    padding: 5px 15px;
}

.cancel-button {
    padding: 1.5vw 2.5vw;
}

label {
    flex: 1;
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 25px;
}

.hidden {
    z-index: -1;
}

.visible {
    z-index: 1;
}

.un-clickable {
    pointer-events: none;
}